/Module.Tests/TestCredentials.cs
/TestResults
/packages
/OandaConnect/obj
/OandaConnect/bin
/Module.Tests/obj
/Module.Tests/bin
/.vs/FxInvest/v14
/FxInvest/bin/Debug
/FxInvest/obj/Debug
/FxInvest.userprefs
/FxInvest/TestCredentials.cs
